<!-- TODO: hide author if none is specified -->
<!-- TODO: implement author feature -->
<!-- TODO: finish translation with author struct as context -->
<div class="author-box">
    <a class="author-avatar" href="" style="background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/connor_gaunt/128.jpg)">
        <span class="screen-reader-text">{{ i18n "author-picture" }}</span>
    </a>
    <div class="author-details">
        <h4 class="author-title">{{ i18n "author-about" }} <a href="">John Doe</a></h4>
        <p class="author-bio">This is a placeholder for the actual author bios.</p>

        <div class="author-meta">
            <span class="author-location">Location</span>
            <span class="author-website"><a href="" target="_blank">Website</a></span>
        </div>
    </div>
</div>
