<header class="post-header">
    {{ if .Params.featured }}
    <span class="featured-post">&darr; {{ i18n "featured" }}</span>
    {{ end }}

    {{ if .Type | ne "page" }}
    <time class="post-date" datetime="{{ .Date.Format "2006-1-2" }}">
        {{ .Date.Format "2 January 2006" }}
    </time>
    {{ end }}

    <h2 class="post-title"><a href="{{ .Permalink }}" rel="bookmark">{{ .Title }}</a></h2>
    <div class="post-meta">
        <!-- TODO: add author feature -->
        <!-- TODO: link categories -->
        {{ i18n "posted-by" }}

        {{ if isset .Params "categories" }}
            {{ $categoriesLen := len .Params.categories }}
            {{ if gt $categoriesLen 0 }}
                {{ i18n "posted-in" }}

                {{ range $k, $v := .Params.categories }}
                <a class="article-category-link" href="{{ $.Site.BaseURL }}categories/{{ . | urlize | lower }}">{{ . }}</a>
                {{ if lt $k (sub $categoriesLen 1) }}, {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}

        {{ if .IsTranslated }}

            <!-- replace "Translations" with "{{ i18n "translations" }}" -->
            &middot; {{ i18n "translations" }}


            {{ range .Translations }}
                {{ $curLang := index (where $.Site.Languages "Lang" .Lang) 0 }}
                <a href="{{ .Permalink }}">{{ $curLang.LanguageName }}</a>
            {{ end }}
        {{ end }}
    </div>

    {{ with .Params.thumbnail }}
    <a href="{{ $.Permalink }}" class="post-thumbnail">
        <img src="{{ . | absURL }}" alt="{{ $.Title }}" />
    </a>
    {{ end }}
</header>
